<% default_value = field.default_value %>

<select class="select w-full" data-generator-command-configuration-id-value="<%= configuration_key %>" data-action="change->generator-command#update">
  <% field.options.each do |value, text| %>
    <option <%=  "selected" if value == default_value %> value="<%= value %>"><%= text || value.humanize.titleize %></option>
  <% end %>
</select>
