<div class="my-6 md:mt-12 md:mb-16 md:text-center">
  <h1 class="text-primary text-2xl md:text-4xl font-bold">Single command to add any Ruby gem</h1>
</div>

<div class="flex justify-center items-center my-6 md:mb-16" data-controller="search">
  <select class="select select-secondary" data-action="change->search#redirect">
    <option disabled selected>Choose a generator to configure</option>

    <% @generators_dropdown.each do |value, text| %>
      <option value="<%= value %>"><%= text %></option>
    <% end %>
  </select>
</div>

<div class="md:grid md:grid-cols-2 md:gap-16 mb-6">
  <div class="md:flex md:flex-col">
    <div class="mb-4 md:text-lg">
      <span class="uppercase font-semibold">Just This</span>
    </div>

    <div class="text-secondary md:flex-grow md:items-start">
      <div class="mockup-code md:h-full">
        <pre data-prefix="$"><code>zen add daisy_ui</code></pre>
      </div>
    </div>
  </div>

  <div class="max-sm:mt-4">
    <div class="text-lg">
      Instead of all these
    </div>

    <div class="mockup-code mt-4">
      <pre data-prefix="$"><code>bundle add tailwindcss-rails</code></pre>
      <pre data-prefix="$"><code>bin/rails tailwindcss:install</code></pre>
      <pre data-prefix="$"><code>npm i -D daisyui@latest</code></pre>
      <pre></pre>
      <pre data-prefix="#"><code>Add require('daisyui') inside tailwind.config.js</code></pre>
    </div>
  </div>
</div>

<div class="my-10 md:my-14 text-center">
  <p class="uppercase text-xl md:text-4xl font-bold bg-gradient-to-r from-orange-700 via-blue-500 to-green-400 text-transparent bg-clip-text animate-gradient">More Generators Coming Soon</p>
  <p class="text-xs">(Free for everyone)</p>
</div>
